<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://fosscrunch.com/assets/img/main/2018-04-25-youtube.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-medium">
    MLApp by Alan Ji
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-display-center">Youtube Comment Spam Detection</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
      <div class="w3-large w3-center">

		<form action="{{ url_for('predict')}}" method="POST">
		<h2>Enter Your Comment Here</h2>
		<textarea name="comment" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="button1" value="predict">

		</form>

      </div>
  </div>
</div>

</body>
</html>


